/** Estilos Felipe Rivera **/
.content-options button {
  max-width: 300px;
  width: 100%;
  margin: 5px 0;
  height: 50px;
  font-size: 17px;
}

.btn-next {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 70px;
  font-size: 25px;
}
.content-card {
  position: relative;
  padding-bottom: 134px;
}

#text-estado {
  font-size: 18px;
  font-weight: bold;
}
.content-telefonos-llamada{
  margin-bottom: 24px;
}
#text-telefono{
  margin-bottom: 0;
}
#accion-llamada{
  width: 30px;
}